body {
    padding: 0px;
    margin: 0px;
    color: white;
}

.header {
    position: fixed;
    z-index: 1000;
    top: 0px;
    height: 50px;
    width: 100%;
    background-color: #473615;
}

.header .logo {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.main {
    margin-top: 50px;
    height: 100%;
}

.containerPadding {
    padding: 15px;
}

.questionsList {
    height: 100%;
    width: 73%;
    float: left;
    background-color: #1a1a1a;
}

.questionsList.hidden {
    width: 100%;
}

.notificationsList {
    height: 100%;
    width: 27%;
    float: right;
    position: fixed;
    right: 0;
    background-color: #2f2d23;
}

.notificationsList.hidden {
    width: 0%;
}

.actionPanel * {
    display: inline-block;
    margin: 5px;
}

.button {
    padding: 8px 10px 8px 10px;
    color: white;
    border: none;
    border-radius: 3px;
    background: #b37a00;
    font-size: 1em;
    cursor: pointer;
}

.button:hover {
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.2);
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup {
    border: none;
    border-radius: 4px;
    padding: 20px;
    box-shadow: -2px 2px rgba(0, 0, 0, 0.58);
    background-color: #303030;
}

.centerHorizontal {
    text-align: center;
}


/* The container must be positioned relative: */

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: #414141;
    border-radius: 3px;
}


/* Style the arrow inside the select element: */

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/* style the items (options), including the selected item: */

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}


/* Style items (options): */

.select-items {
    position: absolute;
    background-color: #414141;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/* Hide the items when the select box is closed: */

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    font-size: 1em;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #414141;
    color: white;
    cursor: pointer;
}

textarea {
    padding: 10px;
    font-size: 1em;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #414141;
    color: white;
    resize: vertical;
    cursor: pointer;
    font-family: inherit;
}

.popup * {
    margin-bottom: 10px;
}

.questionBlock {
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #242424;
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    display: block;
}

.questionBlockAnswered {
    background-color: #242424;
}

.questionBlock .questionBlockInner {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.questionBlock .questionBlockQuestion {
    margin-bottom: 6px;
    font-size: 1.5em;
    color: white;
    margin-top: 0px;
}

.questionBlock .questionBlockTopic {
    font-size: 1.3em;
    color: #b6905d;
    background-color: #363636;
    border-radius: 3px;
    display: inline-block;
    padding: 3px;
    margin: 0px;
    margin-left: 5px;
    right: 5px;
    top: 5px;
    position: absolute;
}

.questionBlock .questionBlockDate {
    color: #cdc2a8;
    display: block;
    position: relative;
    font-size: 0.75em;
    margin-top: 0;
}

.questionBlock .questionBlockDescription {
    color: #cfcfcf;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.rotate {
    animation: rotation 1s infinite linear;
}

.sortPanel {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 20px;
}

.buttonSelect {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    position: relative;
    margin-right: -5px;
    border: 1px solid white;
    padding: 14px;
    color: white;
    background-color: #494537;
    display: inline-block;
    white-space: nowrap;
}

.buttonSelectSelected {
    background-color: #312e26;
    color: #e3e3e3;
}

.buttonSelectLeft {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.buttonSelectRight {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.answerDiv {
    position: relative;
}

.answerDivBottomRight {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.answerDivBottomRight .answerDivButton {
    display: inline-block;
    margin-left: 5px;
    padding: 6px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    background-color: #6d5522;
}

.answerDivInput {
    cursor: text;
    width: 100%;
    border-top-left-radius: 0px;
}

.answerDivAnswer {
    padding: 10px;
    font-size: 1em;
    margin-top: 0px;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #414141;
    color: white;
    resize: vertical;
    cursor: pointer;
    font-family: inherit;
    border-bottom: 1px solid white;
}

.answerDivAnswer:last-child {
    border-bottom: none;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}