body {
  /*background-color: rgb(8, 8, 8);
  color: rgb(219, 219, 219);*/
}

h1, h2, h3, h4 {
  margin: 10px;
}

.center-outside {
  text-align: center;
  width: 100%;
}

.center-div {
  display: inline-block;
  padding: 1em;
  border-radius:4px;
  margin-top: 100px;
}

.header-outer, .header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
  margin-left: 0px;
	background: #500e7d;
	user-select: none;
	color: #fff;
	z-index: 100;
}

.footer-outer, .footer {
	position: absolute;
	bottom: 0;
	left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
	width: 100%;
	background: #500e7d;
	user-select: none;
	color: #fff;
	z-index: 100;
}
.top-logo {
	margin: 0 auto 12px;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center;
}
.centered-horizontal {
  position: fixed;
  text-align: center;
}

.landingpage a {
  display: inline-block;
  margin-right: 15px;
}

input[type=text] {
  margin-bottom: 8px;
  margin-right: 8px;
  display: block;
  background-color:#414141;
  border: 2px solid #414141;
  border-radius: 4px;
  padding: 8px 13px;
  width: 500;
  font-size:14px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
}
input[type=text]:hover {
  background-color:#555555;
  border: 2px solid #555555;
  -webkit-transition: 0.3s;
}
input[type=text]:focus {
  color: white;
  -webkit-transition: 0.5s;
}

textarea {
  margin-bottom: 8px;
  margin-right: 8px;
  display: block;
  background-color:#414141;
  border: 2px solid #414141;
  border-radius: 4px;
  padding: 8px 13px;
  width: 500px;
  min-width: 500px;
  max-width: 500px;
  min-height: 60px;
  height: 120px;
  max-height: 200px;
  font-family: inherit;
  color: white;
  cursor: pointer;
}

/* Split the screen in half */
.split {
 height: 100%;
 width: 50%;
 position: fixed;
 z-index: 1;
 top: 0;
 overflow-x: hidden;
 padding-top: 20px;
}

/* Control the left side */
.left {
 left: 0;
 border-right: 3px solid black;
}

/* Control the right side */
.right {
 right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
 width: 150px;
 border-radius: 50%;
}

.keyword {
  margin-top: 0px;
  margin-bottom: 3px;
  display: inline-block;
  margin-right: 6px;
  padding: 4px;
  border-radius: 3px;
  background-color: rgb(179, 179, 179);
}

/* The container must be positioned relative: */
.custom-select {
 position: relative;
 font-family: Arial;
}

.custom-select select {
 display: none; /*hide original SELECT element: */
}

.select-selected {
 background-color: #414141;
 border-radius: 3px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
 position: absolute;
 content: "";
 top: 14px;
 right: 10px;
 width: 0;
 height: 0;
 border: 6px solid transparent;
 border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
 border-color: transparent transparent #fff transparent;
 top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
 color: #ffffff;
 padding: 8px 16px;
 border: 1px solid transparent;
 border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
 cursor: pointer;
}

/* Style items (options): */
.select-items {
 position: absolute;
 background-color: #414141;
 top: 100%;
 left: 0;
 right: 0;
 z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
 display: none;
}

.select-items div:hover, .same-as-selected {
 background-color: rgba(0, 0, 0, 0.1);
}

img#displayThumbnail {
  border-radius: 4px;
  border: 2px solid black;
}

button {
  padding: 6px;
  background-color: #414141;
  border-radius: 3px;
  color: white;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
}

button:hover {
  border-radius: 5px;
  background-color: #545353;
  -webkit-transition: 0.3s;
}
